
@import "abstract/mixin";
@import "abstract/variables";
@import "base/base";
@import "layout/grid";



/* ========================= header section =====================*/
header{
    background-color: #061413;
    nav{
        @include clearfix;
        padding-top: 50px; 

        .logo{
            width: 15%;
            float: left;
        }

        .menu{
            width: 85%; 
            overflow: hidden;

            ul{
                @include clearfix;
                list-style: none;
                float: right;
                

                li{
                    float: left;
                    margin-right: 50px;  

                    &:not(:last-child){
                        padding-top: 15px;
                        a{
                            text-decoration: none;
                            font-size: 15px;
                            color: #fff;
                            text-transform: capitalize;
                            font-weight: 400;
                            display: inline-block;
                            position: relative;
                            transition: all .3s; 
    
                            &::after{
                                content: ''; 
                                width: 0%;
                                height: 2px;
                                position: absolute;
                                background-color: #f77236;
                                top: 100%;
                                left: 50%;
                                transform: translateX(-50%); 
                                transition: all .3s;
                            }
                            &:hover::after{
                                width: 105%; 
                            }
    
                        }

                    }
                    
                    &:last-child{ 
                        a{
                            font-size: 13px;
                            font-weight: 700;
                            color: #fff;
                            text-transform: uppercase;
                            display: inline-block; 
                            text-decoration: none;
                            background-image: linear-gradient(140deg, #fa7236, #ff0566 );
                            padding: 15px 30px;
                            border-radius: 50px;
                            transition: all .3s;
                            position: relative;
                            z-index: 1;
                            overflow: hidden;

                            .hoverspan{
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                border-radius: 50px;
                                background-image: linear-gradient(140deg, #ff0566 , #fa7236);
                                top: 0;
                                left: 0;
                                z-index: -1;
                                transition: all .3s;
                                opacity: 0;
                            
                            }

                            &:hover .hoverspan{
                                opacity: 10;
                            }
                        }
                        img {
                            width: 17px; 
                            position: relative;
                            top: 4px;
                            margin-left: 3px;
                        }

                        
                    }
                }
            }
            
        }
    }
    .banner-section{
        @include clearfix;
        &__content{ 
            position: relative;
            z-index: 9;
            margin: 130px 0;
            h2{
                font-size: 62px;
                line-height: 72px;
                font-weight: 100;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                background-image: linear-gradient(140deg , #ff0566 , #fa7236 );
                margin-bottom: 20px;

            }
            p{
                font-size: 18px;
                font-weight: 300;
                line-height: 30px;
                color: #fff;
                max-width: 75%;
                margin-bottom: 145px;
            }
            form{
                position: relative;
                input{
                    width: 100%;
                    padding: 25px 211px 25px 30px;
                    box-sizing: border-box;
                    border-radius: 50px;
                    outline: none;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 18px;
                     color: #999999;
                     border: 0;
                }
                button{
                    position: absolute;
                    right: 6px;
                    top: 5px;
                    padding: 18px 30px;
                    border-radius: 50px;
                    border: none;
                    box-sizing: border-box;
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 18px;
                    color: #fff;
                    background-color: #fc3d4d;

                    i{
                        margin-top: 5px;
                    }
                }
            }
            &--domain-price{

                span{
                    font-size: 16px;
                    line-height: 68px;
                    font-weight: 400;
                    color: #fffefe;
                    display: inline-block;
                    margin: 20px 20px 0 0;
                }
                span a{
                    font-size: 16px;
                    line-height: 68px;
                    color: #fc3d4d;
                    text-decoration: none;
                    border-bottom: 1px dotted #fc3d4d;
                }
            }
            &--image{
                position: relative;

                img {
                    position: absolute;
                    left: -256px;
                    top: 85px;
                    width: 1000px;
                }
            }

        }
        &__domain-price{

        }
    }

}

/*============================ header end =============================*/


/*============================ price section start =============================*/
.price-section{
    background: #0a111d;
    .col-1-of-4{
        width: calc((100%)/4);
    }
    &__price-boxes{
        @include clearfix;
        .mr-0{
            margin-right: 0;
        }
        .bg-1{
            background-image: linear-gradient(to right bottom, #049ec0, #04d6d6);
            border-radius: 5px 0 0 5px;
        }
        .bg-2{
            background-image: linear-gradient(to right bottom, #fa7236, #ff0864);
            border-radius: 0 ;
        }
        .bg-3{
            background-image: linear-gradient(to right bottom, #be63d9, #5c27fe);
            border-radius: 0 ;
        }
        .bg-4{
            background-image: linear-gradient(to right bottom, #ffcb52, #ff7b02);
            border-radius: 0 5px 5px 0;
        }
        &--price-item{
            overflow: hidden;
            padding: 30px 35px 45px 0;
            box-sizing: border-box;
            background-image: linear-gradient(to right bottom, #049ec0, #04d6d6);
            
            .p-card-top{
                display: flex;
                flex-grow: 1;
               &__image{
                  img{
                      width: 150px;
                      margin: -20px 0 0 -50px;
                  }
               }
               &__text{
                   color: #fff;
                   margin-left: 20px;
                h4{
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 500;
                    margin-bottom: 10px;
                    text-transform: capitalize;
                }
                p{
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 20px;
                    
                }
                h2{
                    font-size: 50px;
                    font-weight: 100;
                    line-height: 24px;
                    
                    margin-top: 30px;
                }
                span{
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-top: 10px;
                    display: inline-block;
                }



               }

            }

            .p-card-bottom{
                ul{
                    list-style: none;
                    margin-left: 50px;
                    li{
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 30px;
                        color: #fff;
                    }
                }
                .button{
                    text-align: center;
                }
                button{
                    padding: 18px 40px;
                    border-radius: 50px;
                    font-size: 13px;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 18px;
                    margin: auto;
                    border: 2px solid #fff;
                    margin-left: 25px;
                    margin-top: 50px;
                    background-color: transparent;
                    transition: all .3s;
                    color: #fff;

                    &:hover{
                        background-color: #fff;
                        color: #fc3d4d;
                    }
                }
            }

        }



    }
    .text-bottom{
        text-align: center;
        margin-top: 60px;
        .para-1{
            font-size: 18px;
            color: #8998af;
            font-weight: 400;
            line-height: 40px;
        }
        .para-2{
            font-size: 24px;
            font-weight: 500;
            line-height: 40px;
            color: #8998af;

            span{
                color: #fc3d4d;
            }
        }

    }
}
/*============================ price section end =============================*/

/*============================ plan section start =============================*/

.plan-section{
    background-color: #0e0f25; 
    padding: 100px 0;
    &__header{
        text-align: center;
        p{
            font-size: 20px;
            line-height: 24px;
            color: #fff;

        }
    }
    &__plan-card{
        @include clearfix;
        margin-top: 30px;

        &--single-card{
            .plan-item{
                background-color: #262839;
                border-radius: 3px;
                display: flex;
                align-items: center;
                margin-bottom: 15px;

                &--icon{
                    flex-basis: 20%;
                    img{
                        padding: 5px;
                    }
                }
                &--text{
                    flex-basis: 70%;

                    p{
                        font-size: 15px;
                        color: #8998af;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
                &--check{
                    flex-basis: 10%;

                    span i{
                        font-size: 18px;
                        color: #34b358;
                    }
                }
            }
        }
    }
}

/*============================ plan section end =============================*/

/*============================ feature section start =============================*/
.feature-section{
    background-color: #110e2b;
    padding: 50px 0;
    &__header{
        text-align: center;
        margin-bottom: 50px;

        h5{
            font-size: 12px;
            font-weight: 800;
            line-height: 24px;
            color: #fc3d4d;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
        h2{
            font-size: 34px;
            line-height: 24px;
            font-weight: 300;
            color: #fff;
            margin: 25px 0 35px;
        }
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            color: #fff;
            max-width: 750px;
            margin: auto;
        }
    }
    &__feature-box{
        @include clearfix;

        &--item{
            display: flex;
            background-color: #211f38;
            border-radius: 3px;
            align-items: center;
            padding: 30px 25px 30px 15px;
            margin-bottom: 35px;

            .feature-image{
                flex-basis: 30%;
                img{

                }
            }
            .feature-text{
                flex-basis: 70%;
                h4{
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 500;
                    color: #fff;
                    text-transform: capitalize;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #8998af;
                }
            }
        }
    }
}

/*============================ feature section end =============================*/

/*============================ feature section start =============================*/

.service-section{
    background-color:#110e2b; 
    background-image: url('../image/service-bg.png');
    padding: 60px 0;

    &__header{

        text-align: center;
        h4{
            font-size: 12px;
            font-weight: 800;
            line-height: 24px;
            color: #fc3d4d;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
        h2{
            font-size: 34px;
            line-height: 24px;
            font-weight: 300;
            color: #fff;
            margin: 25px 0 35px;
        }
    }
    &__content{
        text-align: center;
        padding: 80px 0;
    }
    &__footer{
        text-align: center;
        h4{
            font-size: 12px;
            font-weight: 800;
            line-height: 24px;
            color: #fc3d4d;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
        h2{
            font-size: 34px;
            line-height: 24px;
            font-weight: 300;
            color: #fff;
            margin: 25px 0 35px;
        }
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            color: #fff;
            max-width: 750px;
            margin: auto;
        }
    }
}
/*============================ feature section end =============================*/

/*============================ data-section start =============================*/
.data-section{
    background-color:#110e2b; 
    padding: 60px 0;
    &__werap{
        @include clearfix;

        &--text{
            .main-text{
                max-width: 500px;
                h3{
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #fff;
                    text-transform: capitalize;
                    position: relative;
                    margin-bottom: 30px;
                    padding-bottom: 20px;

                    &::after{
                        content: '';
                        width: 100px;
                        height: 2px;
                        background-color: #fc3d4d;
                        position: absolute;
                        top: 100%;
                        left: 0;
                    }
                    
                }
                p{
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #fff;
                    margin-bottom: 20px;
                }
            }
            .bottom-text{
                margin-top: 60px;
                display: flex;

                .map{
                    flex-basis: 40%;
                    img{

                    }
                }
                .item{
                    flex-basis: 30%;
                    ul{
                        list-style: none;
                        li{
                            font-size: 15px;
                            line-height: 24px;
                            font-weight: 400;
                            text-transform: capitalize;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

/*============================ data-section end =============================*/

/*============================ business-section start =============================*/

.business-section{
    background-color: #250e1d;
    &__header{
        text-align: center;
        margin-bottom: 50px;

        h4{
            font-size: 12px;
            font-weight: 800;
            line-height: 24px;
            color: #fc3d4d;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
        h2{
            font-size: 34px;
            line-height: 24px;
            font-weight: 300;
            color: #fff;
            margin: 25px 0 35px;
        }
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            color: #fff;
            max-width: 750px;
            margin: auto;
            text-transform: uppercase;
        }
    &__business-card{
        @include clearfix;
        &--item{
            background-color: #4e4376;
            
            img{

            }
            p{

            }
        }
    }
 }
}
