*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Heebo', sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
}